config==0.5.1
dash==2.0.0
dash_bootstrap_components==0.13.1
faiss-cpu==1.7.4
Flask==2.0.1
flask_sqlalchemy==3.1.1
joblib==1.4.2
matplotlib==3.10.1
numpy==1.23.5
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pandas==1.5.3
plotly==5.3.1
scikit_learn==0.24.2
SQLAlchemy==2.0.40
tensorflow==2.19.0
torch==2.6.0
transformers==4.51.1
Werkzeug==2.0.1
